.muestras.ng-hide-add {

    animation: fadeOutDown 0.9s;

}

.muestras.ng-hide-remove{
    
    animation: fadeInUp 0.9s;

}


.boton.ng-hide-add {

    animation: fadeOutDown 0.5s;

}

.boton.ng-hide-remove{
    
    animation: fadeIn 0.5s;

}

.boton.ng-enter{

    animation: fadeInUp 0.5s;

}

.boton.ng-leave{
    
    animation: fadeOutDown 0.5s;

}

/*.animaitem.ng-enter{
	animation:;
}*/


