<div layout="column" class="animated slideInUp">
    

    <md-data-table-toolbar class="md-whiteframe-z1">
      <md-input-container md-no-float flex class="no-padding">
        <md-icon>
          <ng-md-icon icon="search" style="fill:#3F51B5"></ng-md-icon> 
        </md-icon>
        <input ng-model="query" type="text" placeholder="Buscar Tipo Item" flex mayusculas>
      </md-input-container>
      <md-button class="md-icon-button" aria-label="limpiar" ng-show="query" ng-click="query = ''">
        <ng-md-icon icon="close" style="fill:#3F51B5"></ng-md-icon> 
      </md-button>
    </md-data-table-toolbar>
    <br>
    <md-data-table-container class="md-whiteframe-z1">
      <table md-data-table>
        <thead md-order="equivalencias.order" md-trigger="equivalencias.onOrderChange">
          <tr>
            <th name="ID"  order-by="UTI_clave"></th>
            <th name="Nombre" order-by="UTI_nombre"></th>
            <th name="Fecha Alta"  order-by="created_at"></th>
            <th name="Activo"  order-by="UTI_activo"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="unidad in equivalencias.info |filter:query | orderBy: equivalencias.order | limitTo: equivalencias.limit: (equivalencias.page - 1) * equivalencias.limit">
            <td>{{unidad.UTI_clave}}</td>
            <td>{{unidad.UTI_nombre}}</td>
            <td>{{unidad.created_at}}</td>
            <td>
              <div ng-show="unidad.UTI_activo">SI</div>
              <div ng-hide="unidad.UTI_activo">NO</div>
            </td>
            <td class="option-table">
                <md-menu md-position-mode="target-right target" >
                  <md-button aria-label="Opciones" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin>
                      <ng-md-icon icon="more_vert" style="fill:#3F51B5"></ng-md-icon> 
                    </md-icon>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item>
                      <md-button ng-click="equivalencias.editaunidad($event,$index)">
                        <p>Modificar</p>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item>
                      <md-button ng-click="equivalencias.confirmacion($event,$index)">
                        <p ng-show="unidad.UTI_activo" >Desactivar</p>
                        <p ng-hide="unidad.UTI_activo" >Activar</p>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <br>
    <md-data-table-pagination md-label="equivalencias.texto" md-row-select="equivalencias.paginacion" md-limit="equivalencias.limit" md-page="equivalencias.page" md-total="{{equivalencias.info.length}}"></md-data-table-pagination>


</div>

<md-button id="nuevo" class="animated bounceInUp md-fab md-fab-bottom-right" ng-click="equivalencias.nuevaUnidad($event)" aria-label="Nuevo Estado">
    <md-tooltip md-direction="top">
      Nuevo
    </md-tooltip>
    <ng-md-icon icon="add" style="fill:white"></ng-md-icon> 
</md-button>