<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop">
      <div class="mini-charts-item bgm-cyan ">
        <div class="clearfix">
            <div class="chart stats-bar"></div>
            <div class="count">
                <h3>Items En Unidad</h3>
                <br>
                <span> {{ datos.itemsTotal }} </span>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple ng-click="irItems()">
                  Ver detalles
                </a>
            </div>
        </div>
      </div>
  </div>
  <div class="mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop">
      <div class="mini-charts-item bgm-bluegray">
        <div class="clearfix">
            <div class="chart stats-bar"></div>
            <div class="count">
                <h3>Ordenes de Compra</h3>
                <br>
                <span> {{ datos.ordenes }} </span>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple ng-click="irOrdenes()">
                  Ver detalles
                </a>
            </div>
        </div>
      </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop">
      <div class="mini-charts-item bgm-lightgreen">
        <div class="clearfix">
            <div class="chart stats-bar"></div>
            <div class="count">
                <h3>Por Caducar</h3>
                <br>
                <span> {{ datos.porCaducar }} </span>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                  <!-- Ver detalles -->
                </a>
            </div>
        </div>
      </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop">
      <div class="mini-charts-item bgm-orange">
        <div class="clearfix">
            <div class="chart stats-bar"></div>
            <div class="count">
                <h3>Pendientes para receta</h3>
                <br>
                <span> {{ datos.porSurtir }} </span>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect right" md-ink-ripple>
                  <!-- Ver detalles -->
                </a>
            </div>
        </div>
      </div>
  </div>

</div>
