<md-dialog aria-label="Nuevo Estado" ng-init="inicio()" flex-sm="65" flex-gt-md="40" flex="100">

  <md-toolbar class="md-warn">
    <div class="md-toolbar-tools">
      <h2>Agrega Item a receta</h2>
      <span flex></span>
      <md-button  class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="close" style="fill:white" aria-label="Cerrar Ventana"></ng-md-icon> 
      </md-button>
    </div>
  </md-toolbar>

  <form name="movimientoForm" novalidate ng-submit="guardar()">

  <md-dialog-content layout-padding>
      
      <md-content layout="column">

          <md-autocomplete
              md-selected-item="item"
              md-selected-item-change="selectedItemChange()"
              md-search-text="busqueda"
              md-items="item in consultado(busqueda)"
              md-item-text="item.ITE_nombre"
              md-min-length="0"
              placeholder="Escribe item a buscar">
            <md-item-template>
              <span md-highlight-text="busqueda" md-highlight-flags="^i">{{item.ITE_nombre}}</span>
            </md-item-template>
            <md-not-found>
              No se encontro "{{busqueda}}".
            </md-not-found>
          </md-autocomplete>
          
      </md-content>

      <md-content layout="column">
          
          <div layout-gt-sm="row" layout="column">
            
            <md-input-container flex>
              <md-select placeholder="Tipo de Movimiento" ng-model="datos.tipomov" name="tipo" required disabled flex>
                <md-option ng-repeat="tipomov in tiposmovimiento" value="{{tipomov.TIM_clave}}">{{tipomov.TIM_nombre}}</md-option>
              </md-select>
              <div ng-messages="movimientoForm.tipo.$dirty && movimientoForm.cantidad.$error">
                <div ng-message="required">Campo obligatorio.</div>
              </div>
            </md-input-container>

            <md-input-container flex ng-if="datos.tipomov == 1">
              <md-select placeholder="Tipo de Ajuste" ng-model="datos.tipoa" name="tipo">
                <md-option ng-repeat="tipoajuste in tiposajuste" value="{{tipoajuste.TIA_clave}}">{{tipoajuste.TIA_nombre}}</md-option>
              </md-select>
            </md-input-container>

          </div>

          <div layout-gt-sm="row" layout="column">
            
            <md-input-container flex>
              <md-select placeholder="Almacen" ng-model="datos.almacen" name="tipo" md-on-close="verificaExistenciaAlmacen(datos.almacen)" required disabled>
                <md-option ng-repeat="almacen in almacenes" value="{{almacen.ALM_clave}}">{{almacen.ALM_nombre}}</md-option>
              </md-select>
              <div ng-messages="movimientoForm.tipo.$dirty && movimientoForm.cantidad.$error">
                <div ng-message="required">Campo obligatorio.</div>
              </div>
            </md-input-container>
            
            <md-input-container flex>
              <label>Cantidad Disponible</label>
              <input type="text" name="cantidad" ng-model="disponible" disabled>
            </md-input-container>

            <md-input-container flex>
              <label>Cantidad</label>
              <input type="number" name="cantidad" ng-model="datos.cantidad" min="1" ng-change="verificaCantidadLote()" numero required>
              <div ng-messages="movimientoForm.cantidad.$dirty && movimientoForm.cantidad.$error">
                <div ng-message="required">Campo obligatorio.</div>
                <div ng-message="min">La cantidad no puede ser menor que 1</div>
              </div>
            </md-input-container>
            
          </div>

          <div layout-gt-sm="row" layout="column" class="no-margin" ng-if="item.TIT_forzoso == 1">  

            <md-input-container flex>
              <md-select placeholder="Lote" ng-model="lote" name="tipo" md-on-close="datosLote(lote)">
                <md-option ng-repeat="lote in lotes" value="{{lote}}">{{lote.LOT_numero}}</md-option>
              </md-select>
            </md-input-container>

            <md-datepicker ng-model="datos.caducidad" md-placeholder="Caducidad" required  disabled flex></md-datepicker>
            
            <span flex></span>
          </div>
      

          <md-input-container flex>
            <label>Observaciones</label>
            <textarea  columns="1" name="observaciones" ng-model="datos.observaciones"></textarea>
          </md-input-container>

          <div layout="row" layout-sm="column" layout-align="space-around" ng-show="guardando">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>

      </md-content>  

    
  </md-dialog-content>
  <md-dialog-actions layout="row">

    <span flex></span>
    <md-button type="button" ng-click="cancel()">
        Salir
    </md-button>
    <md-button type="submit" ng-disabled="verificaForm()">
        Guardar
    </md-button>

  </md-dialog-actions>

  </form>
</md-dialog>