<md-content layout-padding>
  

  <div layout="row" layout-sm="column" layout-margin>
      
      <div flex>
        
        <div ng-repeat="item in ordenItems">
          <md-subheader class="md-no-sticky" >
            {{item.ITE_nombre}}
            <span class="right">Por Surtir: {{item.Cantidad}}</span>
          </md-subheader>
          <md-divider></md-divider>
          <md-list>
            <md-list-item ng-repeat="proveedor in item.proveedores" >
              <md-checkbox  ng-checked="existeEnOrden(proveedor, seleccionOrden)" ng-click="cambio(proveedor, seleccionOrden)"></md-checkbox>
              <p>{{proveedor.PRO_nombrecorto}}</p>
              <span class="right">Costo: {{proveedor.IPR_ultimoCosto | currency}}</span>
            </md-list-item>
          </md-list>
          <md-divider ng-hide="$last"></md-divider>

        </div>
    
          
      </div>

      <div flex>
          <md-subheader class="md-no-sticky">Detalle de orden</md-subheader>
          <md-divider></md-divider>
          <md-list>
              <md-list-item>
                <p>Items</p>
                <p>3</p>
              </md-list-item>

              <md-list-item>
                <p>Total</p>
                <p>$500</p>
              </md-list-item>
          </md-list>
      </div>
      
  </div>



</md-content>
