<div layout="column" ng-if="!trabajando">
  <md-data-table-container class="md-whiteframe-z1 animated fadeInUp">
    <table md-data-table>
      <thead md-order="porSurtir.order" md-trigger="porSurtir.onOrderChange">
        <tr>
          <!-- <th name="Código" order-by="ITE_codigo"></th> -->
          <th name="Receta" order-by="id_receta"></th>
          <th name="Item" order-by="ITE_nombre"></th>
          <th name="Clave" order-by="RES_clave"></th>
          <th name="Almacén" order-by="ALM_nombre"></th>
          <th name="Cantidad" order-by="RES_cantidad"></th>
          <th name="Fecha Reserva" order-by="RES_fecha"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in porSurtir.listado | filter:query | orderBy:porSurtir.order | limitTo:porSurtir.limit: (porSurtir.page -1) * porSurtir.limit">
          <!-- <td>{{ item.ITE_codigo }}</td> -->
          <td> <b>{{ item.id_receta }}</b> </td>
          <td>{{ item.ITE_nombre }}</td>
          <td>{{ item.RES_clave }}</td>
          <td>{{ item.ALM_nombre }}</td>
          <td>{{ item.RES_cantidad }}</td>
          <td><span ng-if="item.RES_fecha != '0000-00-00 00:00:00'">{{ item.RES_fecha | limitTo:10 | date:"d/MMM/yyyy" }}</span></td>
        </tr>
      </tbody>
    </table>
  </md-data-table-container>
  <md-data-table-pagination md-label="porSurtir.texto" md-row-select="porSurtir.paginacion" md-limit="porSurtir.limit" md-page="porSurtir.page" md-total="{{porSurtir.listado.length}}" class="animated fadeInUp"></md-data-table-pagination>
</div>

<div layout="column" layout-paddin layout-align="center center" flex ng-if="trabajando">
  <h5 style="color:grey">
    <ng-md-icon icon="info_outline" style="fill:grey"></ng-md-icon>
    Esto puede tardar hasta 2 minutos.
  </h5>
  <md-progress-circular md-mode="indeterminate" class="md-warn" md-diameter="150"></md-progress-circular>
</div>

<md-button id="nuevo" ng-if=" permisos.PER_clave == '1' || permisos.PER_clave == '2'" ng-click="actualizaPorSurtir()"
           ng-disabled="trabajando"
           class="animated bounceInUp md-fab md-fab-bottom-right" aria-label="Opciones">
    <md-tooltip md-direction="top">
      Actualizar
    </md-tooltip>
    <ng-md-icon icon="refresh" style="fill:white"></ng-md-icon>
</md-button>
