<div layout="column" ng-init="existencia.inicio()">
    
    <md-content ng-if="existencia.nuevaBusqueda" class="md-whiteframe-5dp white" layout-gt-sm="row" layout="column" layout-padding>
        
        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Unidad</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select ng-model="existencia.datos.unidad" md-on-close="existencia.cargaAlmacenes(existencia.datos.unidad)"  placeholder="Selecciona Unidad" flex>
            <md-option ng-repeat="unidad in existencia.unidades" ng-click="existencia.agregaUnidad(unidad.UNI_nombre)" ng-value="{{unidad.UNI_clave}}">{{unidad.UNI_nombre}}</md-option>
          </md-select>
          
        </div>
        
        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Almacen</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select ng-model="existencia.datos.almacen" placeholder="Selecciona Almacen" md-on-close="existencia.cargaItems(existencia.datos.almacen)" flex>
            <md-option ng-repeat="almacen in existencia.almacenes" ng-click="existencia.agregaAlmacen(almacen.ALM_nombre)" ng-value="{{almacen.ALM_clave}}">{{almacen.ALM_nombre}}</md-option>
          </md-select>
          
        </div>

        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Item especifico</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select ng-model="existencia.datos.item" placeholder="Selecciona Item" flex>
            <md-option ng-repeat="item in existencia.items" ng-click="existencia.agregaItem(item.ITE_nombre)" ng-value="{{item.ITE_clave}}">{{item.ITE_nombre}}</md-option>
          </md-select>
          
        
        </div>
        
        <div layout="column" layout-paddin layout-align="center center" flex>
          <md-progress-circular md-mode="indeterminate" ng-if="existencia.consultando"></md-progress-circular>
          <md-button class="md-raised md-primary" ng-if="!existencia.consultando" ng-click="existencia.buscar()">Buscar</md-button>
        </div>

    </md-content>



    <div flex ng-if="existencia.info.length > 0">
      <p>Busqueda: {{ existencia.unidadB + existencia.almacenB + existencia.itemB }} </p>
      <md-data-table-container class="md-whiteframe-5dp white">
        <table md-data-table>
          <thead md-order="existencia.order" md-trigger="existencias.onOrderChange">
            <tr>
              <th name="Item"  order-by="ITE_nombre"></th>
              <th name="Almacen" order-by="ALM_nombre"></th>
              <th name="Cantidad" order-by="EXI_cantidad"></th>
              <th name="Unidad"  order-by="UNI_nombrecorto"></th>
              <th name="Ultimo Movimiento"  order-by="EXI_ultimoMovimiento"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="existencia in existencia.info |filter:query | orderBy: existencia.order | limitTo: existencia.limit: (existencia.page - 1) * existencia.limit">
              <td>{{existencia.ITE_nombre}}</td>
              <td>{{existencia.ALM_nombre}}</td>
              <td>{{existencia.EXI_cantidad}}</td>
              <td>{{existencia.UNI_nombrecorto}}</td>
              <td>{{existencia.EXI_ultimoMovimiento}}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <br>
      <md-data-table-pagination md-label="existencia.texto" md-row-select="existencia.paginacion" md-limit="existencia.limit" md-page="existencia.page" md-total="{{existencia.info.length}}"></md-data-table-pagination>
      
    </div>
    <br>

  
</div>

<md-button id="nuevo" ng-if="existencia.info.length > 0" class="animated bounceInUp md-fab md-fab-bottom-right" ng-click="existencia.opciones()" aria-label="Opciones">
    <md-tooltip md-direction="top">
      Opciones
    </md-tooltip>
    <ng-md-icon icon="assignment_returned" style="fill:white"></ng-md-icon> 
</md-button>
