<div layout="column" ng-init="tras.inicio()">
    
    <md-content ng-if="tras.nuevaBusqueda" class="md-whiteframe-5dp white" layout-gt-sm="row" layout="column" layout-padding>
        
        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Unidad</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select ng-model="tras.datos.unidad" md-on-close="tras.cargaAlmacenes(tras.datos.unidad)" required placeholder="Selecciona Unidad" flex>
            <md-option ng-repeat="unidad in tras.unidades" ng-click="tras.agregaUnidad(unidad.UNI_nombre)" ng-value="{{unidad.UNI_clave}}">{{unidad.UNI_nombre}}</md-option>
          </md-select>
          
        </div>
        
        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Almacen</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select ng-model="tras.datos.almacen" placeholder="Selecciona Almacen" md-on-close="tras.cargaItems(tras.datos.almacen)" flex>
            <md-option ng-repeat="almacen in tras.almacenes" ng-click="tras.agregaAlmacen(almacen.ALM_nombre)" ng-value="{{almacen.ALM_clave}}">{{almacen.ALM_nombre}}</md-option>
          </md-select>
          
        </div>

        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Item especifico</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select ng-model="tras.datos.item" placeholder="Selecciona Item" flex>
            <md-option ng-repeat="item in tras.items" ng-click="tras.agregaItem(item.ITE_nombre)" ng-value="{{item.ITE_clave}}">{{item.ITE_nombre}}</md-option>
          </md-select>
          
        
        </div>

        <div layout="column" flex>

          <md-subheader class="c-bluegray">X Tipo Item</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-select placeholder="Tipo de Item" ng-model="tras.datos.tipo" name="tipo" flex >
            <md-option ng-repeat="tipoitem in tras.tiposItem" value="{{tipoitem.TIT_clave}}">{{tipoitem.TIT_nombre}}</md-option>
          </md-select>
          
        </div>
        
        <div layout="column" flex>
          <md-subheader class="c-bluegray">Fechas</md-subheader>  
          <md-divider class="bgm-bluegray"></md-divider>
          <md-datepicker ng-model="tras.fechaInicio" md-placeholder="Inicio" required ng-disabled="am.existeLote" flex ng-change="tras.cambio()"></md-datepicker>
          <md-datepicker ng-model="tras.fechaFinal" md-placeholder="Final" required ng-disabled="am.existeLote" flex ng-change="tras.cambio()" md-min-date="tras.fechaInicio"></md-datepicker>
        </div>

        <div layout="column" layout-paddin layout-align="center center" flex>
          <md-progress-circular md-mode="indeterminate" ng-if="tras.consultando"></md-progress-circular>
          <md-button class="md-raised md-primary" ng-if="!tras.consultando" ng-click="tras.buscar()">Buscar</md-button>
        </div>

    </md-content>



    <div flex ng-if="tras.info.length > 0">
      <p>Busqueda: {{ tras.unidadB + tras.almacenB + tras.itemB }} </p>
      <md-data-table-container class="md-whiteframe-5dp white">
        <table md-data-table>
          <thead md-order="tras.order" md-trigger="tras.onOrderChange">
            <tr>
              <th name="Codigo"  order-by="ITE_codigo"></th>
              <th name="Item"  order-by="ITE_nombre"></th>
              <th name="Almacen" order-by="ALM_nombre"></th>
              <th name="Usuario" order-by="USU_login"></th>
              <th name="Tipo Movimiento" order-by="TIM_nombre"></th>
              <!-- <th name="Tipo Ajuste" order-by="TIA_nombre"></th> -->
              <th name="Observaciones"  order-by="MOV_observaciones"></th>
              <th name="Cantidad"  order-by="MOV_cantidad"></th>
              <th name="Fecha"  order-by="created_at"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in tras.info |filter:query | orderBy: tras.order | limitTo: tras.limit: (tras.page - 1) * tras.limit">
              <td>{{data.ITE_codigo}}</td>
              <td>{{data.ITE_nombre}}</td>
              <td>{{data.ALM_nombre}}</td>
              <td>{{data.USU_login}}</td>
              <td>{{data.TIM_nombre}}</td>
              <!-- <td>{{data.TIA_nombre}}</td> -->
              <td>{{data.MOV_observaciones}}</td>
              <td>{{data.MOV_cantidad}}</td>
              <td>{{data.created_at}}</td>
            </tr>
          </tbody>
        </table>
      </md-data-table-container>
      <br>
      <md-data-table-pagination md-label="tras.texto" md-row-select="tras.paginacion" md-limit="tras.limit" md-page="tras.page" md-total="{{tras.info.length}}"></md-data-table-pagination>
      
    </div>
    <br>
</div>

<md-button id="nuevo" ng-if="tras.info.length > 0" class="animated bounceInUp md-primary md-fab md-fab-bottom-right" ng-click="tras.opciones()" aria-label="Opciones" 
  style=" color : rgb(49, 46, 46);
          background-color: rgba(21, 166, 176, 0.96);
          font-size: 16px;">
    <md-tooltip md-direction="top">
      Opciones
    </md-tooltip>
    <ng-md-icon icon="assignment_returned" style="fill:white"></ng-md-icon> 
</md-button>