<md-content layout-padding>

  <div layout-gt-sm="row" layout="column">

      <md-input-container flex flex-gt-md="30">
        <label>Tipo de Entrega</label>
        <md-select ng-model="datos.tipoEntrega">
          <md-option value="personal">Personal</md-option>
          <md-option value="mensajeria">mensajeria</md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex flex-gt-md="80">
        <label>Observaciones</label>
        <textarea ng-model="datos.observacionEntrega" columns="1" rows="5"></textarea>
      </md-input-container>

  </div>
  <div layout-gt-sm="row" layout="column" ng-show=" datos.tipoEntrega == 'mensajeria' ">
      
      <md-input-container flex>
        <label># Guia</label>
        <input type="text" ng-model="datos.guia">
      </md-input-container>

      <md-input-container flex>
        <label># Cajas</label>
        <input type="number" min="0" ng-model="datos.cajas">
      </md-input-container>

      <md-input-container flex>
        <label># Bultos</label>
        <input type="number" min="0" ng-model="datos.bultos">
      </md-input-container>

      <md-input-container flex>
        <label># Bolsas</label>
        <input type="number" min="0" ng-model="datos.bolsas">
      </md-input-container>

  </div>
  
  <div layout-gt-sm="row" layout="column">
      <div flex-gt-md="20" flex>
        <p>Verificación de items: </p>
        <md-radio-group ng-model="datos.verificacion" flex>
          <md-radio-button value="1">Conteo al momento</md-radio-button>
          <md-radio-button value="2">Conteo posterior</md-radio-button>
        </md-radio-group>
      </div>

      <md-input-container flex flex-gt-md="80" ng-show="datos.verificacion == 2 ">
        <label>Motivo</label>
        <textarea ng-model="datos.observacionesVerificacion" columns="1" rows="5"></textarea>
      </md-input-container>
  </div>
  

  <div layout="row" layout-align="center center">
    <md-button ng-disabled="!datos.tipoEntrega || !datos.verificacion" class="md-raised md-primary" ng-click="siguiente(selectedIndex)" type="submit">Siguiente</md-button>
  </div>

</md-content>
