<div layout="row" layout-align="center" >
    
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">

      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Fecha Alta</th>
          <th>Activo</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tipo in tipositem.info">
          <td>{{tipo.TIT_clave}}</td>
          <td>{{tipo.TIT_nombre}}</td>
          <td>{{tipo.created_at}}</td>
          <td>
            <div ng-show="tipo.TIT_activo">SI</div>
            <div ng-hide="tipo.TIT_activo">NO</div>
          </td>
          <td class="option-table">
              <md-menu md-position-mode="target-right target" >
                <md-button aria-label="Opciones" class="md-icon-button" ng-click="$mdOpenMenu()">
                  <md-icon md-menu-origin>
                    <ng-md-icon icon="more_vert" style="fill:#3F51B5"></ng-md-icon> 
                  </md-icon>
                </md-button>
                <md-menu-content width="2">
                  <md-menu-item>
                    <md-button ng-click="tipositem.editaTipo($event,$index)">
                      <p>Modificar</p>
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="tipositem.confirmacion($event,$index)">
                      <p ng-show="tipo.TIT_activo" >Desactivar</p>
                      <p ng-hide="tipo.TIT_activo" >Activar</p>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
          </td>
        </tr>
      </tbody>
    </table>

</div>

<md-button id="nuevo" class="md-fab md-fab-bottom-right" ng-click="tipositem.nuevoTipo($event)" aria-label="Nuevo Estado">
    <ng-md-icon icon="add" style="fill:white"></ng-md-icon> 
</md-button>