<div layout="column" ng-init="usualm.inicio()">
    <md-data-table-toolbar class="md-whiteframe-z1">
      <md-input-container md-no-float flex class="no-padding">
        <md-icon>
          <ng-md-icon icon="search" ></ng-md-icon> 
        </md-icon>
        <input ng-model="query" type="text" placeholder="Buscar Usuario" flex>
      </md-input-container>
      <md-button class="md-icon-button" aria-label="limpiar" ng-show="query" ng-click="query = ''">
        <ng-md-icon icon="close" ></ng-md-icon> 
      </md-button>
    </md-data-table-toolbar>
    <br>
    <md-data-table-container class="md-whiteframe-z1">
      <table md-data-table>
        <thead md-order="usualm.order"  md-trigger="usualm.onOrderChange">
          <tr>
            <th name="ID"  order-by="clave"></th>
            <th name="Usuario" order-by="usuario"></th>
            <th name="Nombre" order-by="nombre"></th>
            <th name="Almacen(es) Asociado(s)"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="usuario in usualm.usuarios |filter:query | orderBy: usualm.order | limitTo: usualm.limit: (usualm.page - 1) * usualm.limit">
            <td>{{usuario.clave}}</td>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.almacenes.length}}</td>
            <td layout="row">
                <!-- <md-chips ng-model="usuario.almacenes" readonly="false">
                  <md-chip-template>
                    <strong>{{$chip.ALM_nombre}}</strong>
                  </md-chip-template>
                  <button md-chip-remove class="md-primary vegetablechip" ng-click="usualm.confirma($event,usuario,$chip)">
                    <ng-md-icon icon="close" ></ng-md-icon>
                  </button>
                </md-chips> -->
                <md-button ui-sref="index.usualmNuevo({'usuario':usuario.clave})">Agregar</md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-data-table-container>
    <br>
    <md-data-table-pagination md-limit="usualm.limit" md-page="usualm.page" md-total="{{ usualm.usuarios.length }}"></md-data-table-pagination>
</div>
